@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,500&display=swap');
body{
    width: 100%;
    font-family: 'Poppins';
}
nav{
    background-color: #ffffff;
    height: 70px;
}
.navbar-toggler{
    color: #000000;
}
.nav-item{
    padding: 10px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}
.nav-item :hover{
    border-bottom: 1px solid #000000;
}
.nav-link{
    color: #000000;
    font-weight: 400;
}
.btn{
    background-color: #000000;
    color: white;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    border: 1px solid #000000;
    border-radius: 4px;
    width: 120px;
    transition: .4s;
    height: 38px;  
}
.btn:hover{
    background-color: transparent;
    transform: scale(1.05);
}
header{
    background-color: #FAFAFA;
    height: 500px;
    position: relative;
}
.head{
    display: flex;
}
.right{
    background-image: url(/images/hsap-banner\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 600px;
    height: 500px;
    position: relative;
}
.left{
    width: 40%;
    padding: 30px;
}
.text{
    margin-top: 150px;
    text-align: left;
}
.left h3{
    color: #3937A1;
    font-weight: 600;
    font-size: 50px;
    line-height: 48px;
}
.left p{
    color: #000000;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
.btx{
    margin-top: 7px;
    background-color: transparent;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 4px;
    width: 120px;
    height: 40px;
    transition: .4s;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.btx:hover{
    background-color: transparent;
    transform: scale(1.05);
}
.btxx{
    margin-top: 7px;
    background-color: #000000;
    color: white;
    border: 1px solid #000000;
    border-radius: 4px;
    width: 120px;
    height: 40px;
    transition: .4s;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.btxx:hover{
    background-color: #000000;
    transform: scale(1.05);
}
.sect{
    margin-top: 70px;
    display: flex;
}
.seyi{
    background-image: url(/images/image\ 1.png);
    border-radius: 4px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 45%;
    height: 300px;
    position: relative;
}
.semi{
    background-color: #ffffff;
    width: 50%; 
    padding: 30px 70px;  
}
.texts{
    text-align: left;
}
.semi h3{
    color: #000000;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
}
.semi p{
    color: #000000;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
main{
    background-color: #FAFAFA;
    height: 220vh;
    margin-top: 70px;
}
.write h3{
    color: #000000;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    padding: 50px;
}
main .row{
    display: flex;
    justify-content: space-evenly;
}
.box1{
    background-color: #ffffff;
    height: 290px;
    width: 338px;
    box-shadow: 0px 0px 25px rgb(0, 0, 0, 0.06);
    border-radius: 4px; 
    transition: all ease-in 0.7s;
}
.type p{
    color: #000000;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    position: relative;
    top: 140px;
}
.box2{
    background-color: #ffffff;
    height: 290px;
    width: 338px;
    box-shadow: 0px 0px 25px rgb(0, 0, 0, 0.06);
    border-radius: 4px; 
    transition: all ease-in 0.7s;
}
.type2 p{
    color: #000000;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    position: relative;
    top: 140px;
}
.box3{
    background-color: #ffffff;
    height: 290px;
    width: 338px;
    box-shadow: 0px 0px 25px rgb(0, 0, 0, 0.06);
    border-radius: 4px;
    transition: all ease-in 0.7s;
}
.type3 p{
    color: #000000;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    position: relative;
    top: 140px;
}
main .row .box1:hover{
    transform: scale(1.1);
}
main .row .box2:hover{
    transform: scale(1.1);
}
main .row .box3:hover{
    transform: scale(1.1);
}
.writex h3{
    color: #000000;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    padding: 80px;
}
#yoks form{
    margin: 0px auto;
    text-align: left;
}

@media screen and (max-width: 400px){
    form{
        width: 40%;
    }
    main{
        width: 90%;
    }
    
}